@tailwind base;
@tailwind components;
@tailwind utilities;


/* Grid Background */
/* globals.css or index.css */
.bg-grid {
  background-color: #E6E6FA !important; /* Lavender Background */
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 10%, transparent 10%) !important;
  background-size: 30px 30px !important;
  background-position: 0 0 !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}